.button {
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 24px;
	align-self: stretch;
	border-radius: 100px;
}

.label {
	display: flex;
	align-items: center;
	gap: 6px;
}

.labelContent {
	color: var(--neutral-500, #a7aaab);
	font-family: Poppins;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0.6px;
}

.labelIcon {
	color: var(--neutral-500, #a7aaab);
	font-size: 12px;
}

.text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2px;
}

.value {
	color: #000;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -0.32px;
}
