@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Poppins:wght@400;500&display=swap');

@font-face {
	font-family: Averta Std;
	src: url(../fonts/AvertaStd-Regular.ttf);
}

:root {
	--avocado-200: #ecf1e0;
	--avocado-300: #e0e9cb;
	--brand-green-500: #025b4b;
	--brand-marigold-500: #e68a00;
	--marigold-200: #fae7cc;
	--neutral-000: #ffffff;
	--neutral-100: #f5f7f7;
	--neutral-300: #e7eaeb;
	--neutral-400: #d4d8d9;
	--neutral-500: #a7aaab;
	--neutral-600: #737680;
	--neutral-900: #05090d;
	--breakpoint: 700px; /* no breakpoint was specified; making a best guess here; this won't be used as media queries do not currently support CSS variables */
}

body {
	background: var(--neutral-100, #f5f7f7);
}

#root {
	display: flex;
	padding-bottom: 0px;
	flex-direction: column;
	align-items: flex-start;
}

/* react-calendar overrides */
.react-calendar {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 32px;
	border: none;
	padding: 32px 16px;
	border-radius: 24px;
	background: var(--neutral-000, #fff);

	/* Design System Shadow */
	box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
}

.react-calendar__navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-self: stretch;
}

.react-calendar__navigation__arrow.react-calendar__navigation__next-button,
.react-calendar__navigation__arrow.react-calendar__navigation__prev-button {
	cursor: pointer;
	width: 24px;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-position: center center;
	font-size: 0;
}

.react-calendar__navigation__arrow.react-calendar__navigation__next-button {
	background-image: url('/img/right.png');
}

.react-calendar__navigation__arrow.react-calendar__navigation__next-button:disabled {
	cursor: default;
}

.react-calendar__navigation__arrow.react-calendar__navigation__prev-button {
	background-image: url('/img/left.png');
}

.react-calendar__navigation__label {
	flex-grow: 0 !important;
	color: var(--text-primary, #020202);
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
}

.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button,
.react-calendar__navigation__arrow.react-calendar__navigation__next2-button {
	display: none;
}

.react-calendar__month-view__weekdays {
	display: flex;
	align-items: flex-start;
	align-self: stretch;
}

.react-calendar__month-view__weekdays__weekday {
	display: flex;
	height: 42px;
	padding: 8px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
	flex: 1 0 0;
}

.react-calendar__month-view__weekdays__weekday > abbr {
	color: var(--neutral-500, #a7aaab);
	text-align: center;
	font-family: Poppins;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
}

.react-calendar__tile.react-calendar__month-view__days__day {
	cursor: pointer;
	display: flex;
	padding: 11px 0px;
	justify-content: center;
	align-items: center;
	flex: 1 0 0;
	align-self: stretch;
}

.react-calendar__tile.react-calendar__month-view__days__day:disabled {
	cursor: default;
}
.react-calendar__tile.react-calendar__month-view__days__day > abbr {
	color: var(--neutral-900, #05090d);
	text-align: center;
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
}

.react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--neighboringMonth > abbr {
	color: var(--neutral-500, #a7aaab);
}

/* Styling for "today" in the calendar. If this styling is meant for the selected value, it can easily be changed by updating the selector. */
.react-calendar__tile.react-calendar__tile--now.react-calendar__month-view__days__day {
	padding: 0;
}

.react-calendar__tile.react-calendar__tile--now.react-calendar__month-view__days__day > abbr {
	width: 36px;
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 24px;
	background-color: var(--ivy-300, #b3cec9);
	color: var(--brand-green-500, #025b4b);
}

@media (min-width: 700px) {
	#root {
		align-items: center;
	}
}
