@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap');

:root {
	--avocado-200: #ecf1e0;
	--avocado-300: #e0e9cb;
	--brand-green-500: #025b4b;
	--brand-marigold-500: #e68a00;
	--marigold-200: #fae7cc;
	--neutral-000: #ffffff;
	--neutral-100: #f5f7f7;
	--neutral-300: #e7eaeb;
	--neutral-400: #d4d8d9;
	--neutral-500: #a7aaab;
	--neutral-600: #737680;
	--neutral-900: #05090d;
}

body {
	background: var(--neutral-100, #f5f7f7);
}

#root {
	display: flex;
	padding-bottom: 0px;
	flex-direction: column;
	align-items: flex-start;
}
