.numResultsDropdown {
	position: relative;
	width: 100%;
}

.icon {
	display: flex;
	padding: 12px;
	justify-content: center;
	align-items: center;
	border-radius: 100px;
	background: var(--marigold-200, #fae7cc);
}

.iconContent {
	color: var(--brand-marigold-500, #e68a00);
	font-size: 16px;
}
