.actionBar {
	display: flex;
	padding: 24px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 24px;
	align-self: stretch;
	background: var(--neutral-000, #fff);
	box-shadow: 0px 2px 0px 1px rgba(5, 9, 13, 0.06);
}
